/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    color: #333333;
    border-width: 1px;
    border-color: silver;
    border-collapse: collapse;
    min-width: 240px;
    text-align: center;
  }
  table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: silver;
    background-color: #dedede;
  }
  table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: silver;
    background-color: #ffffff;
  }